.partition {
    display: flex;
    justify-content: flex-start;
}

.bankPage {
    overflow: hidden;
}

.head {
    position:fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7vh;
    width: 100vw;
    background-color: #f9f9f9;
    align-items: center;
}

.bankTitle {
    display: flex;
    justify-content: flex-start;
}

.bankName {
    margin-left: 2vh;
    width: 60vw;
}

.bankEditButton {
}

.bankOptions {
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
}

.left {
    display: flex;
    width: 30vw;
    height: 85vh;
    background-color: #f9f9f9;
    flex-direction: column;
    padding-top: 7vh;
}

.right {
    width: 70vw;
    padding-top: 9vh;
}

.box {
    margin-left: 10vw;
    margin-top: 5vh;
    width: 50vw;
}

.addop {
    margin-top: -3vh;
}

.leftbox {
    background-color: white;
    width: 30vw;
    padding-left: 2vw;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1vw;
    margin-bottom: 0.5vh;
    min-height: 10vh;
}

.jumbo {
    margin-right: auto;
    margin-left: auto;
    width: 70vw;
    padding-top: 7vh;
    padding-bottom: 5vh;
}