
.box {
    overflow: hidden;
    height: 100%;
    background-image: url("../img/abc.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img {

    margin-left: 0.03vw;
    overflow: hidden;
}

.modal {
    position: relative;
    margin: 8vh;
    width: 35vw;
    height: 40vh;
    background: #000;
    opacity: 0.6;
    color: white;
    border-radius: 5px;
    padding: 2vw;
}

.flink {
    margin-left: 30vw;
    color: white;
    letter-spacing: 4px;
    margin-top: 25vh;
}