.page {
    overflow: hidden;
}

.head {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: black;
    padding-right: 1vw;
    height: 10vh;
}

.body {
    width: 100%;
    margin-top: 10vh;
    height: 85vh;
    overflow: scroll;
}

.foot {
    display: flex;
    align-content: center;
    padding-left: 20px;
    padding-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: black;
    color: #dddddd;
    z-index: 2000;
}

.main_panel {
    height: 83vh;
    width: 60vw;
    /*background-image: url("../img/panel_bg.jpg");*/
    /*background-repeat: repeat;*/
    /*background-size: cover;*/
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 5vh;
    background: #f9f9f9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 1vw;
}

.quit_bar {
}

.data {
    width: 50vw;
    height: 50vh;
    padding: 3vh;
    left: 0;
    right: 0;
    margin:auto;
}

.g_tag {
    margin-left: 7vw;
    margin-top: 5vh;
}

.button {
    height: 13vh;
    width: 35vw;
    background: black;
    color: white;
    border-radius: 2vh;
    font-size: 25px;
    opacity: 0.8;
    letter-spacing: 6px;
}
