.back {
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

.title {
    height: 10vh;
    width: 100vw;
}


.input {
    width: 40vw;
    margin-left: 1vw;
}

input {
    border:1px solid #cccccc;
    padding: 0.7vw;
}

input:focus {
    outline: none;
}

input[type=text]{
    border-radius: 1vh;
    text-decoration: none;
    height: 6vh;
}

input::placeholder {
    color: lightgrey;
}
